.clock-container {
  background: url('./img/airplane.png') center center / contain no-repeat;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.counter {
  @include phones {
    display: none;
  }
}

.flipclock-wrapper .flipclock-label {
  color: white !important;
}