.clock-container {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.counter {
  max-width: 60%;
}

.absolutePattern {
  position: absolute;
  svg {
    position: relative;
    bottom: 400px;
    right: 20%;
  }
}

.flipclock-wrapper {
  display: block;
  max-width: 550px;
  background: transparent;
}