.header {
  top: 50px;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item:nth-child(6),
.menu__item:last-child {
  display: none;
}

.menu__link {
  font-size: 20px;
  transition: 0.4s;
  border-bottom: 2px solid transparent;
  &--black-color {
    color: $black;
    &:hover {
      border-bottom-color: $black;
    }
  }
  &--white-color:hover {
    border-bottom-color: white;
  }
}

.menu__link .menu__link--black-color:hover {
  border-bottom: 10px solid $black;
}

.menu__item {
  @include phones {
    margin-bottom: 10px;
  }
}
