.header {
  top: 50px;
}

.menu {
  background: #00BFFF;
  color: $textColor;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu__link {
  font-size: 20px;
}