.header {
  top: 50px;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}
.menu__item:nth-child(6), .menu__item:last-child {
  display: none;
}

.menu__link {
  font-size: 20px;
  transition: .4s;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom-color: white;
  };
}

.menu__item {
  @include phones {
    margin-bottom: 10px;
  }
}