.question {
  background: url('./img/patterns/patternAir2.svg') center 70% / 70% no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.color__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translateY(-40px);
}

.color__item {
  width: 30%;
  height: 90px;
  &--first{
    fill: $wedColorFirst;
  };
  &--second {
    fill: $wedColorSecond;
  };
  &--third {
    fill: $wedColorThird;
  };
  &--fourth {
    fill: $wedColorFourth;
  };
  &--fifth {
    fill: $wedColorFifth;
  };
  &--sixth {
    fill: $wedColorSixth;
  };
  svg {
    width: 100px;
  }
}