.clock-container {
  z-index: 0;
  background: url('./img/airplane.png') center center / contain no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  @include phones {
    display: none;
  }
}

.flipclock-wrapper .flipclock-label {
  color: white !important;
}