.clock-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url('./img/patterns/airplane.png') center center / contain no-repeat;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100px);
  @include phones {
    transform: translateY(-50px);
  }
}

.clock {
  @include phones {
    display: none;
  }
}

.flipclock-wrapper .flipclock-label {
  color: white !important;
}